[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/jcf/tag_list.vim.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/taskpaper"]
	path = bundle/taskpaper
	url = https://github.com/vim-scripts/taskpaper.vim
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = https://github.com/vim-scripts/ragtag.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/vim-scripts/tComment.git
[submodule "bundle/simplefold"]
	path = bundle/simplefold
	url = https://github.com/vim-scripts/simplefold.git
[submodule "bundle/maven2"]
	path = bundle/maven2
	url = https://github.com/vim-scripts/maven2.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/textile"]
	path = bundle/textile
	url = https://github.com/vim-scripts/Textile-for-VIM.git
